<!DOCTYPE html>
<html ng-app='potato'>
  <head>
    <meta charset="utf-8" />
    <title>Potato</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <h1>Potato</h1>

    <!-- the ng-view directive is where our templates will be loaded into when naviagted to -->
    <!--<div ng-view></div> --> <!-- fix this -->
    
    <div id='container' ng-controller='PhotosController'>

    <input type='text' ng-model='search' placeholder='filter' />
    <div class="photos">
      <div class="photo"
          ng-repeat="photo in data.photos | filter:search">
          {{photo}}
      </div>
    </div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>


    <script src="app/app.js"></script>
    <script src="app/photos/photos.js"></script>
    <!--<script src="app/singlePhoto/singlePhoto.js"></script> -->
    <script src="app/services/services.js"></script>
  </body>
</html>
