<div id='container'>

</div>
<input type='text' ng-model='search' placeholder='filter' />
<div class="photos">
  <div class="photo"
      ng-repeat="photo in data.photos | filter:search">
      <div class="pic"><img src={{photo.media.m}} /></div>
      <div class="words">
        <h2 ng-click="changeSelection(photo)">{{photo.title}}</h2>
        Published {{photo.published | date:"EEEE, MMMM d, y 'at' h:mm:ss a"}} 
        <a href={{photo.link.split('/').slice(0,5).join('/')}}>Post Author</a> 
        <a href={{photo.link}}>View on Flickr</a>
      </div>
  </div>
</div>